@keyframes rotate {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  50% {
    transform: rotate3d(1, 1, 1, 180deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes resize {
    0% {
        width: 100px;
    }
    50% {
        width: 150px;
    }
    100% {
        width: 100px;
    }
}

:root {
  box-sizing: border-box;
}

@media screen {
  html,
  body {
    padding: 0;
    margin: 0;
    background: linear-gradient(
        0deg,
        rgba(10, 20, 30, 1),
        rgba(255, 255, 255, 1)
      )
      no-repeat;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* mix-blend-mode: darken; */
    min-height: 100%;
    width: 100vw;
    overflow-x: hidden;
  }

  #container {
    min-height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
    #container > header {
        position: fixed;
        top: 0;
        z-index: 5;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgba(10, 20, 30, 0.8);
        color: rgba(255, 255, 255, 1);
        opacity: 1;
        transition: 1s;
    }

    #container > header.hide-header, #container > footer.hide-header {
      opacity: 0;
      transition: 1s;
    }

    #container > header > h1 {
      font-size: 2vh;
    }

    #container > header > nav {
      display: flex;
    }
    
    #container > header > nav > ul {
      list-style-type: none;
      display: none;
      justify-content: space-evenly;
    }

    #container > header > nav > ul.drawer {
      display: grid;
      position: absolute;
      top: 100px;
      right: 0;
    }

    #container > header > nav > ul > li {
      padding-inline: 2vw;
    }

    #container > header > nav > ul > li > button {
        color: rgba(255, 255, 255, 1);
        background: transparent;
        border: none;
        font-weight: 900;
        transition: 1s;
    }

    #container > header > nav > ul > li > button.active {
        border-bottom: 2px solid skyblue;
        color: rgba(255, 255, 255, 1);
        font-weight: 900;
        transition: 1s;
    }

  #container > main > * {
    padding-inline: 2vw;
    padding-block: 2vh;
  }

  #container > main {
      display: grid;
      grid-auto-rows: 100vh;
      justify-content: center;
      align-items: center;
  }

  /* TODO: Background moves left on click*/
  #container > main > section {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    opacity: 0;
    transition: 1s all ease;
  }

  #container > main > section > h2 {
    writing-mode: vertical-lr;
    text-orientation: upright; 
    background: gray;
    opacity: 0.9;
    padding: 10px;
    border-radius: 15px;
  }

  #container > main > section > article {
    width: 60%;
    background-color: gray;
    opacity: 0.9;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
  }

  #container > main > section:nth-child(2n) {
    flex-direction: row-reverse;
  }

  #container > main > section.active {
      opacity: 1;
  }

  #section-1 {
      background: url('https://placeimg.com/640/480/tech') no-repeat;
  }
  #section-2 {
      background: url('https://placeimg.com/640/480/arch') no-repeat;
  }
  #section-3 {
      background: url('https://placeimg.com/640/480/people') no-repeat;
  }
  #section-4 {
      background: url('https://placeimg.com/640/480/nature') no-repeat;
  }
  #section-5 {
      background: url('https://placeimg.com/640/480/animals') no-repeat;
  }

  #container > footer {
      position: fixed;
      bottom: 0;
      z-index: 5;
      background: rgba(10, 20, 30, 0.8);
      color: rgba(255, 255, 255, 1);
      width: 100vw;
      text-align: center;
      padding-block: 2vh;
  }
}
